<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style.css}">

</head>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<body>

<div th:replace="base :: navlinks"></div>

<div class="container custom">

<div class="jumbotron jumbotron-fluid" style="background-color: white">
    <div class="container">
        <h1 class="display-4 text-center">Job Form</h1>
        <p class="lead text-center">Fill out the form and submit!.</p>
    </div>
</div>
</div>

<div class="container custom" id="jobBackground">
    <div class="col-2"></div>
    <div class="col-8 content">
        <form action="#" th:action="@{/process}" th:object="${job}" method="post"
              enctype="multipart/form-data" class="custom">
            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{image}" />
            <input type="hidden" th:field="*{id}" />
            <span th:if="${#fields.hasErrors('id')}"
                  th:errors="*{id}"></span>
            Job Title :<input class="form-control" type="text" th:field="*{jobTitle}"/>
            <span th:if="${#fields.hasErrors('jobTitle')}"
                  th:errors="*{jobTitle}"></span><br />
            Description :<input class="form-control" type="text" th:field="*{jobDescription}" />
            <span th:if="${#fields.hasErrors('jobDescription')}"
                  th:errors="*{jobDescription}"></span><br />
            Date Posted :<input class="form-control" type="date" th:field="*{postedDate}" />
            <span th:if="${#fields.hasErrors('postedDate')}"
                  th:errors="*{postedDate}"></span><br />
            Author :<input class="form-control" type="text" th:field="*{author}" />
            <span th:if="${#fields.hasErrors('author')}"
                  th:errors="*{author}"></span><br />
            Phone Number :<input class="form-control" type="text" th:field="*{phoneNumber}" />
            <span th:if="${#fields.hasErrors('phoneNumber')}"
                  th:errors="*{phoneNumber}"></span><br />
            Image :<input type="file" name="file"/>
            <br />
            <input type="submit" value="Submit" />
        </form>

    </div>
    <div class="col-2"></div>
</div>




</body>
</html>